<div>
  <div>
    <!-- Formulario -->
    <fieldset>
      <legend>Agregar Heroe</legend>
      <label >ID: </label><br>
      <input  />
      <br>
      <label >Nombre: </label><br>
      <input />
      <br>
      <label >Planeta de Origen: </label><br>
      <input  />
      <br>
      <label >Poder: </label><br>
      <input  />
      <br><br>
      <button >Agregar</button>
    </fieldset>
  </div>
  <div>
    <!-- Listado de Heroes -->
    <h2>Listado de Heroes</h2>
    <p>Doble clic para modificar un heroe</p>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Planeta de Origen</th>
          <th>Poder</th>
          <th>Clasificación</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
